// Font
$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 28px;

// Theme
$primary-polor: #b12e29;
$secondary-color: #f00;
$third-color: #0156e2;
$accent-color: #e4756f;
$divider-color: #ddd;
$primary-text-color: #333;
$secondary-text-color: #666;
$third-text-color: #999;
$light-text-color: #b4b4b4;
$white-text-color: #fff;
$common-bg-color: #f5f5f5;

// Layout
$header-height: 100px;

// Assets
$assets-path: "../img/";

// 缩放比
$aspect-ratio: 750 / 640;
