// =================================
//              样式重置
// =================================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
  border: none;
}

a {
  background-color: transparent;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  img {
    vertical-align: top;
  }
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html {
  text-size-adjust: 100%;
}

button,
input[type="button"],
input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
}

textarea {
  padding: 0.5em;
  resize: vertical;
}

input {
  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    display: none;
  }
}
